footer {

    background: #291F43;
    height: 200px;
    align-items: center;

    .footer-icons {
        font-size: 1.5rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 90px;
        max-width: 200px;

        a {
            transition: 0.2s;
            padding: 0px;

            &:hover {
                color: #BAA7FF;
                transform: scale(1.2)
            }
        }
    }
}