header {

    min-height: 100vh;


    img {
        height: 30px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        max-width: 500px;
        margin: 30px auto;
        align-items: center;
        border-radius: 10px;
        
        a {
            transition: 0.2s;
            &:hover {
                color: #BAA7FF;
                transform: scale(1.1);
            }
        }
    }

    .hero {

        display: grid;
        grid-template-columns: 70% 30%;
        max-width: 1000px;
        margin: 130px auto 20px;
        align-items: center;
        // height: 79vh;
        padding: 0 20px;

        @media screen and (max-width: 715px) {
            display: block;
            margin: 0 auto;
            
        }
        
        .hero-text {
            padding: 0 60px 0 0;

            @media screen and (max-width: 715px) {
                padding: 50px 20px 0px;
            }

            h2 {
                padding:0 0 0 60px;
                &:before {
                    content: "";
                    position: absolute;
                    border: 2px solid $white;
                    width: 40px;
                    transform: translate(-60px, 16px);
                }
            }

            h1 {
                font-size: 3.56rem;
                letter-spacing: 3px;
                // color: #7D66D9;
                color: #BAA7FF;
                
                @media screen and (max-width: 715px) {
                    font-size: 2rem;
                }
                
                span {
                    font-weight: 100;
                    color: $white;
                }
            }
            
            h3 {
                font-weight: 100;
                font-size: 1.5rem;
                
                @media screen and (max-width: 715px) {
                    font-size: 1.2rem;
                }
            }
            
            p {
                margin: 20px 0px 80px 0;
                text-align: justify;

                @media screen and (max-width: 715px) {
                    font-size: 0.9rem;
                    margin-bottom: 20px;
                 }
            }

            .hero-icons {
                display: flex;
                justify-content: space-between;
                max-width: 200px;
                font-size: 1.5rem;
                
                a {
                    transition: 0.2s;
                &:hover {
                    color: #BAA7FF;
                    transform: scale(1.2);
                }
                }
                
            }
        }

        .img {
            background: url(../img/photo_yanis2.png) center/cover;
            height: 400px;
            width: 100%;
            border: 2px solid $white;
            // border-radius: 160px 160px 0 0;
            border-radius: 80px 10px;

            @media screen and (max-width: 715px) {
                height: 400px;
                width: 75%;
                margin: 30px auto;
            }
            
        }
    }
    
}