.section1 {
    // min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
        text-align: center;
        font-size: 2.3rem;
        padding: 0 40px 20px;
        color: #BAA7FF;

        @media screen and (max-width: 500px) {
            font-size: 2rem;
            padding-bottom: 0;
        }

        &:after {
            content: "";
            position: absolute;
            border: 3px solid #291F43;
            width: 20%;
            transform: translate(50%, 25px);
            max-width: 1200px;
            border-radius: 10px;

            @media screen and (max-width: 500px) {
                width: 10%;
            }
        }
        &:before {
            content: "";
            position: absolute;
            border: 3px solid #291F43;
            width: 20%;
            transform: translate(-150%, 25px);
            max-width: 1200px;
            border-radius: 10px;

            @media screen and (max-width: 500px) {
                width: 10%;
            }
        }

    }
    .projects-img {
        
        max-width: 1000px;
        margin: 0 auto;

        h3 {
            color: #6E56CF;
            font-size: 1.5rem;

            i {
                color: #6E56CF;
                padding-left: 10px;
                font-size: 1.5rem;
            }
        }
        p {
            padding: 10px 0;
            text-align: justify;

            @media screen and (max-width: 500px) {
                font-size: 0.9rem;
            }
        }
        i {
            font-size: 2rem;
            padding-right: 10px;
            color: #33255B;

            @media screen and (max-width: 1060px) {
                margin-bottom: 40px;
            }
        }
        
        
        .project1 {
            display: grid;
            grid-template-columns: 70% 30%;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding-bottom: 80px;
            margin-top: 40px;

            @media screen and (max-width: 1060px) {
                display: block;
                padding: 0 40px;
            }

            .img {
                background: url(../../assets/img/resto-header.png) center/cover;
                height: 400px;
                // box-shadow: 11px 9px 5px 0px #291F43;
                border: 2px solid $white;
                border-radius: 15px;
                // transition: 0.4s;

                // &:hover {
                //     transform: scale(1.2);
                // }

                @media screen and (max-width: 1060px) {
                    margin-bottom: 40px;
                }


            }
        }
        .project2 {
            display: grid;
            grid-template-columns: 30% 70%;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding-bottom: 80px;

            @media screen and (max-width: 1060px) {
                display: block;
                padding: 0 40px;
            }

            .img {
                background: url(../../assets/img/montagne-header.png) center/cover;
                height: 400px;
                border: 2px solid $white;
                border-radius: 15px;

                @media screen and (max-width: 1060px) {
                    margin-bottom: 40px;
                }
            }
        }
        .project3 {
            padding-bottom: 0px;

            h2 {
                @media screen and (max-width: 500px) {
                    max-height: 30px;
                }
            }

            .text-btn {

                display: grid;
                grid-template-columns: 60% 40%;
                align-items: center;

                @media screen and (max-width: 620px) {
                    display: block;
                }                
                .text {
                    padding: 40px;
                    max-width: 600px;
                    margin: 20px auto;
                    text-align: right;

                    @media screen and (max-width: 620px) {
                        margin: 0 auto;
                    }   
                 
                    h3 {
                        text-align: left;
                        max-height: 50px;
    
                        @media screen and (max-width: 1060px) {
                            display: block;
                            padding: 0 40px 0 0;
                        }
                    }
                    p {
                        @media screen and (max-width: 1060px) {
                            padding: 0px;
                        }
                    }
                }
                .btn {

                    max-width: 200px;
                    margin: 0 auto;
                    
                    button {
                        
                        cursor: pointer;
                        color: $white;
                        // width: 100%;
                        border-radius: 50px;
                        background-color:  #6E56CF;
                        font-size: 1.1rem;
                        padding: 10px 20px;
                        transition: 0.2s;
                        border: none;
                        text-align: center;

                        @media screen and (max-width: 620px) {
                            margin-bottom: 30px;
                            width: 100%;
                        }
    
                        &:hover {
                            background: #56468B;
                        }
                    }
                }
            }
            
            .img {
                background: url(../../assets/img/template_torkedon_app.png) center/cover;
                height: 600px;
                max-width: 900px;
                margin: 0 auto;

                @media screen and (max-width: 500px) {
                    height: 500px;
                    max-width: 300px;
                    margin: 0 auto;
                }

            }
            
        }
    }

    .contact {

        .form {
            background: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "i1 i2"
            "ta ta"
            "btn btn"; 
            justify-content: center;
            align-items: center;
            max-width: 800px;
            margin: 0 auto;
            gap: 20px;
            padding: 50px 20px 20px;

            @media screen and (max-width: 520px) {
               grid-template-areas: "i1 i1" "i2 i2" "ta ta" "btn btn";
            }
            
            input, textarea {
                background: none;
                border: 2px solid #56468B;
                font-family: $font1;
                padding: 20px;
                border-radius: 10px;
                outline-color: #6E56CF;
                color: white;
            }
            input[type=text] {
                grid-area: i1;
            }
            input[type=email] {
                grid-area: i2;
            }
            textarea {
                grid-area: ta;
                resize: none;
            }
            input[type=submit] {
                cursor: pointer;
                grid-area: btn;
                color: $white;
                width: 20%;
                margin: 20px auto;
                background-color:  #6E56CF;
                font-size: 1.1rem;
                padding: 10px;
                transition: 0.2s;
                border: none;
                border-radius: 50px;

                @media screen and (max-width: 520px) {
                    width: 30%;
                 }

                &:hover {
                    background: #56468B;
                }
                
            }
        }
    }

    .design {
        max-width: 1000px;
        margin: 0 auto;

        h2 {
            @media screen and (max-width: 500px) {
                max-height: 20px;
            }
        }
        
        p {
            text-align: justify;

            @media screen and (max-width: 560px) {
                display: none;
                
            }
        }

        .logos-part1 {
            display: grid;
            grid-template-columns: 60% 40%;
            justify-content: center;
            align-items: center;
            margin: 40px;

            @media screen and (max-width: 560px) {
                display: block;
                margin: 0;

            }

            .logo1 {
                background: url(../../assets/img/trokedon_logo_charte.png) center/cover;
                height: 300px;
                width: 100%;
            }
        
        }
        .logos-part2 {

            display: grid;
            grid-template-columns: 40% 60%;
            justify-content: center;
            align-items: center;
            margin: 40px;

            @media screen and (max-width: 560px) {
                display: block;
                margin: 0;
            }


            .logo2 {
                background: url(../../assets/img/yk_logo_charte.png) center/cover;
                height: 170px;
                width: 50%;
                margin: 0 auto;

                @media screen and (max-width: 560px) {
                    display: block;
                    height: 250px;
                }
            }
        }
        .logos-part3 {

            display: grid;
            grid-template-columns: 60% 40%;
            justify-content: center;
            align-items: center;
            margin: 40px;

            @media screen and (max-width: 560px) {
                display: block;
                margin: 0;
            }

            .logo3 {
                background: url(../../assets/img/dataperpane_logo_charte.png) center/cover;
                height: 200px;
                width:100%;
                margin: 0 auto;

                @media screen and (max-width: 560px) {
                    display: block;
                    height: 300px;
                    
                }
            }
        }
    }
    
}